openapi: 3.0.3
info:
  title: Yosemite Crew API
  version: 1.0.0
  description: 'FHIR and non-FHIR endpoints. Written by hand and checked for drift against the backend routers in CI (scripts/ci/openapi-drift.mjs) - there is no generator.'
servers:
  - url: https://api.yosemitecrew.com
    description: Production
  - url: https://devapi.yosemitecrew.com
    description: Development
tags:
  - name: FHIR
    description: FHIR endpoints under /fhir/v1
  - name: 'Non-FHIR'
    description: 'Non-FHIR endpoints under /v1'
paths:
  '/v1/account-withdrawal/withdraw':
    post:
      tags:
        - 'Non-FHIR'
      summary: 'POST /v1/account-withdrawal/withdraw'
      operationId: post_v1_account_withdrawal_withdraw
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountWithdrawalBody'
      responses:
        201:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  message:
                    type: string
        400:
          description: 'Client validation failed, e.g. "fullName and email are required" or "Checkbox confirmation is required"'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        500:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  '/v1/adverse-event/':
    post:
      tags:
        - 'Non-FHIR'
      summary: 'POST /v1/adverse-event/'
      operationId: post_v1_adverse_event
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reporter
                - patient
                - product
              description: AdverseEventReport submitted by the mobile app (apps/backend/src/controllers/web/adverse-event.controller.ts createFromMobile, typed Request<unknown, unknown, AdverseEventReport>). reporter/patient/companion/product/destinations/consent are stored as Prisma Json columns on AdverseEventReport with no fixed shape at the database level, but the application-level contract is the AdverseEventReporterInfo/AdverseEventPatientInfo/AdverseEventProductInfo/AdverseEventDestinations/AdverseEventConsent types in packages/types/src/adverse-event.ts, which is what req.body is typed against. AdverseEventService.createFromMobile (apps/backend/src/services/adverse-event.service.ts) throws a 400 if reporter.firstName, reporter.email, patient.name or product.productName are missing; destinations and consent are read with optional chaining and default safely if omitted, so they are not enforced at runtime even though the TS type marks them non-optional.
              properties:
                organisationId:
                  type: string
                  description: Selected clinic/organisation id.
                appointmentId:
                  type: string
                  nullable: true
                reporter:
                  type: object
                  required:
                    - type
                    - firstName
                    - lastName
                    - email
                  properties:
                    userId:
                      type: string
                    type:
                      type: string
                      enum:
                        - PARENT
                        - CO_PARENT
                        - CLINIC_STAFF
                    firstName:
                      type: string
                    lastName:
                      type: string
                    phoneNumber:
                      type: string
                    email:
                      type: string
                    dateOfBirth:
                      type: string
                      description: ISO date string.
                    addressLine:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    postalCode:
                      type: string
                    country:
                      type: string
                    currency:
                      type: string
                patient:
                  type: object
                  required:
                    - name
                  properties:
                    patientId:
                      type: string
                    companionId:
                      type: string
                    name:
                      type: string
                    breed:
                      type: string
                    dateOfBirth:
                      type: string
                    gender:
                      type: string
                    currentWeight:
                      type: string
                    color:
                      type: string
                    neuteredStatus:
                      type: string
                    bloodGroup:
                      type: string
                    microchipNumber:
                      type: string
                    passportNumber:
                      type: string
                    insured:
                      type: string
                    insuranceCompany:
                      type: string
                    insurancePolicyNumber:
                      type: string
                    countryOfOrigin:
                      type: string
                    originDetails:
                      type: string
                companion:
                  type: object
                  description: Same shape as patient. Accepted on the payload type but never read by AdverseEventService.createFromMobile; the stored/returned companion always mirrors patient instead.
                  properties:
                    patientId:
                      type: string
                    companionId:
                      type: string
                    name:
                      type: string
                    breed:
                      type: string
                    dateOfBirth:
                      type: string
                    gender:
                      type: string
                    currentWeight:
                      type: string
                    color:
                      type: string
                    neuteredStatus:
                      type: string
                    bloodGroup:
                      type: string
                    microchipNumber:
                      type: string
                    passportNumber:
                      type: string
                    insured:
                      type: string
                    insuranceCompany:
                      type: string
                    insurancePolicyNumber:
                      type: string
                    countryOfOrigin:
                      type: string
                    originDetails:
                      type: string
                product:
                  type: object
                  required:
                    - productName
                  properties:
                    productName:
                      type: string
                    brandName:
                      type: string
                    manufacturingCountry:
                      type: string
                    batchNumber:
                      type: string
                    numberOfTimesUsed:
                      type: number
                    quantityUsed:
                      type: number
                    dosageForm:
                      type: string
                    administrationRoute:
                      type: string
                    reasonToUse:
                      type: string
                    conditionBefore:
                      type: string
                    conditionAfter:
                      type: string
                    eventDate:
                      type: string
                    productImageUrl:
                      type: string
                destinations:
                  type: object
                  properties:
                    sendToManufacturer:
                      type: boolean
                    sendToHospital:
                      type: boolean
                    sendToAuthority:
                      type: boolean
                consent:
                  type: object
                  properties:
                    agreedToContact:
                      type: boolean
                    agreedToTermsAt:
                      type: string
                      format: date-time
      responses:
        201:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        500:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  '/v1/adverse-event/regulatory-authority/':
    get:
      tags:
        - 'Non-FHIR'
      summary: 'GET /v1/adverse-event/regulatory-authority/'
      operationId: get_v1_adverse_event_regulatory_authority
      security:
        - BearerAuth: []
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                description: RegulatoryAuthority row returned as-is by prisma.regulatoryAuthority.findFirst (apps/backend/src/controllers/web/adverse-event.controller.ts getRegulatoryAuthorityInof), matched by iso2 or country query param. Only id is non-nullable in the Prisma model (packages/database/prisma/schema.prisma); every other column is optional.
                properties:
                  id:
                    type: string
                  country:
                    type: string
                    nullable: true
                  iso2:
                    type: string
                    nullable: true
                  iso3:
                    type: string
                    nullable: true
                  authorityName:
                    type: string
                    nullable: true
                  phone:
                    type: string
                    nullable: true
                  email:
                    type: string
                    nullable: true
                  website:
                    type: string
                    nullable: true
                  notes:
                    type: string
                    nullable: true
                  sourceUrl:
                    type: string
                    nullable: true
  '/v1/adverse-event/organisation/{organisationId}':
    get:
      tags:
        - 'Non-FHIR'
      summary: 'GET /v1/adverse-event/organisation/{organisationId}'
      operationId: get_v1_adverse_event_organisation_organisationId
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: array
                description: Reports for the organisation from AdverseEventService.listForOrganisation, each mapped through toDomainFromPrisma (apps/backend/src/services/adverse-event.service.ts).
                items:
                  type: object
                  required:
                    - id
                    - appointmentId
                    - reporter
                    - patient
                    - companion
                    - product
                    - destinations
                    - consent
                    - status
                    - createdAt
                    - updatedAt
                  properties:
                    id:
                      type: string
                    organisationId:
                      type: string
                    appointmentId:
                      type: string
                      nullable: true
                    reporter:
                      type: object
                      properties:
                        userId:
                          type: string
                        type:
                          type: string
                          enum:
                            - PARENT
                            - CO_PARENT
                            - CLINIC_STAFF
                        firstName:
                          type: string
                        lastName:
                          type: string
                        phoneNumber:
                          type: string
                        email:
                          type: string
                        dateOfBirth:
                          type: string
                        addressLine:
                          type: string
                        city:
                          type: string
                        state:
                          type: string
                        postalCode:
                          type: string
                        country:
                          type: string
                        currency:
                          type: string
                      description: Persisted from the request's reporter object; stored as a Prisma Json column with no DB-level shape (see packages/types/src/adverse-event.ts AdverseEventReporterInfo for the application contract).
                    patient:
                      type: object
                      properties:
                        patientId:
                          type: string
                        companionId:
                          type: string
                        name:
                          type: string
                        breed:
                          type: string
                        dateOfBirth:
                          type: string
                        gender:
                          type: string
                        currentWeight:
                          type: string
                        color:
                          type: string
                        neuteredStatus:
                          type: string
                        bloodGroup:
                          type: string
                        microchipNumber:
                          type: string
                        passportNumber:
                          type: string
                        insured:
                          type: string
                        insuranceCompany:
                          type: string
                        insurancePolicyNumber:
                          type: string
                        countryOfOrigin:
                          type: string
                        originDetails:
                          type: string
                    companion:
                      type: object
                      description: AdverseEventReport has no companion DB column; toDomainFromPrisma always sets this to the same value as patient.
                      properties:
                        patientId:
                          type: string
                        companionId:
                          type: string
                        name:
                          type: string
                        breed:
                          type: string
                        dateOfBirth:
                          type: string
                        gender:
                          type: string
                        currentWeight:
                          type: string
                        color:
                          type: string
                        neuteredStatus:
                          type: string
                        bloodGroup:
                          type: string
                        microchipNumber:
                          type: string
                        passportNumber:
                          type: string
                        insured:
                          type: string
                        insuranceCompany:
                          type: string
                        insurancePolicyNumber:
                          type: string
                        countryOfOrigin:
                          type: string
                        originDetails:
                          type: string
                    product:
                      type: object
                      properties:
                        productName:
                          type: string
                        brandName:
                          type: string
                        manufacturingCountry:
                          type: string
                        batchNumber:
                          type: string
                        numberOfTimesUsed:
                          type: number
                        quantityUsed:
                          type: number
                        dosageForm:
                          type: string
                        administrationRoute:
                          type: string
                        reasonToUse:
                          type: string
                        conditionBefore:
                          type: string
                        conditionAfter:
                          type: string
                        eventDate:
                          type: string
                        productImageUrl:
                          type: string
                    destinations:
                      type: object
                      properties:
                        sendToManufacturer:
                          type: boolean
                        sendToHospital:
                          type: boolean
                        sendToAuthority:
                          type: boolean
                    consent:
                      type: object
                      properties:
                        agreedToContact:
                          type: boolean
                        agreedToTermsAt:
                          type: string
                          format: date-time
                    status:
                      type: string
                      enum:
                        - DRAFT
                        - SUBMITTED
                        - REVIEWING
                        - FORWARDED
                        - CLOSED
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
  '/v1/adverse-event/{id}':
    get:
      tags:
        - 'Non-FHIR'
      summary: 'GET /v1/adverse-event/{id}'
      operationId: get_v1_adverse_event_id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - appointmentId
                  - reporter
                  - patient
                  - companion
                  - product
                  - destinations
                  - consent
                  - status
                  - createdAt
                  - updatedAt
                description: Single report from AdverseEventService.getById, mapped through toDomainFromPrisma (apps/backend/src/services/adverse-event.service.ts). A missing id returns 404 with {message} instead (not this schema).
                properties:
                  id:
                    type: string
                  organisationId:
                    type: string
                  appointmentId:
                    type: string
                    nullable: true
                  reporter:
                    type: object
                    properties:
                      userId:
                        type: string
                      type:
                        type: string
                        enum:
                          - PARENT
                          - CO_PARENT
                          - CLINIC_STAFF
                      firstName:
                        type: string
                      lastName:
                        type: string
                      phoneNumber:
                        type: string
                      email:
                        type: string
                      dateOfBirth:
                        type: string
                      addressLine:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      postalCode:
                        type: string
                      country:
                        type: string
                      currency:
                        type: string
                    description: Stored as a Prisma Json column with no DB-level shape; see packages/types/src/adverse-event.ts AdverseEventReporterInfo for the application contract.
                  patient:
                    type: object
                    properties:
                      patientId:
                        type: string
                      companionId:
                        type: string
                      name:
                        type: string
                      breed:
                        type: string
                      dateOfBirth:
                        type: string
                      gender:
                        type: string
                      currentWeight:
                        type: string
                      color:
                        type: string
                      neuteredStatus:
                        type: string
                      bloodGroup:
                        type: string
                      microchipNumber:
                        type: string
                      passportNumber:
                        type: string
                      insured:
                        type: string
                      insuranceCompany:
                        type: string
                      insurancePolicyNumber:
                        type: string
                      countryOfOrigin:
                        type: string
                      originDetails:
                        type: string
                  companion:
                    type: object
                    description: AdverseEventReport has no companion DB column; toDomainFromPrisma always sets this to the same value as patient.
                    properties:
                      patientId:
                        type: string
                      companionId:
                        type: string
                      name:
                        type: string
                      breed:
                        type: string
                      dateOfBirth:
                        type: string
                      gender:
                        type: string
                      currentWeight:
                        type: string
                      color:
                        type: string
                      neuteredStatus:
                        type: string
                      bloodGroup:
                        type: string
                      microchipNumber:
                        type: string
                      passportNumber:
                        type: string
                      insured:
                        type: string
                      insuranceCompany:
                        type: string
                      insurancePolicyNumber:
                        type: string
                      countryOfOrigin:
                        type: string
                      originDetails:
                        type: string
                  product:
                    type: object
                    properties:
                      productName:
                        type: string
                      brandName:
                        type: string
                      manufacturingCountry:
                        type: string
                      batchNumber:
                        type: string
                      numberOfTimesUsed:
                        type: number
                      quantityUsed:
                        type: number
                      dosageForm:
                        type: string
                      administrationRoute:
                        type: string
                      reasonToUse:
                        type: string
                      conditionBefore:
                        type: string
                      conditionAfter:
                        type: string
                      eventDate:
                        type: string
                      productImageUrl:
                        type: string
                  destinations:
                    type: object
                    properties:
                      sendToManufacturer:
                        type: boolean
                      sendToHospital:
                        type: boolean
                      sendToAuthority:
                        type: boolean
                  consent:
                    type: object
                    properties:
                      agreedToContact:
                        type: boolean
                      agreedToTermsAt:
                        type: string
                        format: date-time
                  status:
                    type: string
                    enum:
                      - DRAFT
                      - SUBMITTED
                      - REVIEWING
                      - FORWARDED
                      - CLOSED
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
  '/v1/adverse-event/{id}/status':
    patch:
      tags:
        - 'Non-FHIR'
      summary: 'PATCH /v1/adverse-event/{id}/status'
      operationId: patch_v1_adverse_event_id_status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              description: 'Body typed as { status: AdverseEventStatus } in AdverseEventController.updateStatus (apps/backend/src/controllers/web/adverse-event.controller.ts); passed straight to AdverseEventService.updateStatus which does prisma.adverseEventReport.update({ data: { status } }).'
              properties:
                status:
                  type: string
                  enum:
                    - DRAFT
                    - SUBMITTED
                    - REVIEWING
                    - FORWARDED
                    - CLOSED
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - appointmentId
                  - reporter
                  - patient
                  - companion
                  - product
                  - destinations
                  - consent
                  - status
                  - createdAt
                  - updatedAt
                description: The updated report returned by AdverseEventService.updateStatus, mapped through toDomainFromPrisma - same shape as GET /v1/adverse-event/{id}.
                properties:
                  id:
                    type: string
                  organisationId:
                    type: string
                  appointmentId:
                    type: string
                    nullable: true
                  reporter:
                    type: object
                    properties:
                      userId:
                        type: string
                      type:
                        type: string
                        enum:
                          - PARENT
                          - CO_PARENT
                          - CLINIC_STAFF
                      firstName:
                        type: string
                      lastName:
                        type: string
                      phoneNumber:
                        type: string
                      email:
                        type: string
                      dateOfBirth:
                        type: string
                      addressLine:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      postalCode:
                        type: string
                      country:
                        type: string
                      currency:
                        type: string
                  patient:
                    type: object
                    properties:
                      patientId:
                        type: string
                      companionId:
                        type: string
                      name:
                        type: string
                      breed:
                        type: string
                      dateOfBirth:
                        type: string
                      gender:
                        type: string
                      currentWeight:
                        type: string
                      color:
                        type: string
                      neuteredStatus:
                        type: string
                      bloodGroup:
                        type: string
                      microchipNumber:
                        type: string
                      passportNumber:
                        type: string
                      insured:
                        type: string
                      insuranceCompany:
                        type: string
                      insurancePolicyNumber:
                        type: string
                      countryOfOrigin:
                        type: string
                      originDetails:
                        type: string
                  companion:
                    type: object
                    description: AdverseEventReport has no companion DB column; toDomainFromPrisma always sets this to the same value as patient.
                    properties:
                      patientId:
                        type: string
                      companionId:
                        type: string
                      name:
                        type: string
                      breed:
                        type: string
                      dateOfBirth:
                        type: string
                      gender:
                        type: string
                      currentWeight:
                        type: string
                      color:
                        type: string
                      neuteredStatus:
                        type: string
                      bloodGroup:
                        type: string
                      microchipNumber:
                        type: string
                      passportNumber:
                        type: string
                      insured:
                        type: string
                      insuranceCompany:
                        type: string
                      insurancePolicyNumber:
                        type: string
                      countryOfOrigin:
                        type: string
                      originDetails:
                        type: string
                  product:
                    type: object
                    properties:
                      productName:
                        type: string
                      brandName:
                        type: string
                      manufacturingCountry:
                        type: string
                      batchNumber:
                        type: string
                      numberOfTimesUsed:
                        type: number
                      quantityUsed:
                        type: number
                      dosageForm:
                        type: string
                      administrationRoute:
                        type: string
                      reasonToUse:
                        type: string
                      conditionBefore:
                        type: string
                      conditionAfter:
                        type: string
                      eventDate:
                        type: string
                      productImageUrl:
                        type: string
                  destinations:
                    type: object
                    properties:
                      sendToManufacturer:
                        type: boolean
                      sendToHospital:
                        type: boolean
                      sendToAuthority:
                        type: boolean
                  consent:
                    type: object
                    properties:
                      agreedToContact:
                        type: boolean
                      agreedToTermsAt:
                        type: string
                        format: date-time
                  status:
                    type: string
                    enum:
                      - DRAFT
                      - SUBMITTED
                      - REVIEWING
                      - FORWARDED
                      - CLOSED
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
  /fhir/v1/appointment/mobile:
    post:
      tags:
        - FHIR
      summary: POST /fhir/v1/appointment/mobile
      operationId: post_fhir_v1_appointment_mobile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appointment'
      responses:
        201:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Appointment'
                  message:
                    type: string
  /fhir/v1/appointment/mobile/parent:
    get:
      tags:
        - FHIR
      summary: GET /fhir/v1/appointment/mobile/parent
      operationId: get_fhir_v1_appointment_mobile_parent
      security:
        - BearerAuth: []
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListEnvelope'
  /fhir/v1/appointment/mobile/documentUpload:
    post:
      tags:
        - FHIR
      summary: POST /fhir/v1/appointment/mobile/documentUpload
      operationId: post_fhir_v1_appointment_mobile_documentUpload
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadUrlBody'
      responses:
        400:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUrlEnvelope'
        500:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  '/fhir/v1/appointment/mobile/companion/{companionId}':
    get:
      tags:
        - FHIR
      summary: 'GET /fhir/v1/appointment/mobile/companion/{companionId}'
      operationId: get_fhir_v1_appointment_mobile_companion_companionId
      security:
        - BearerAuth: []
      parameters:
        - name: companionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListEnvelope'
  '/fhir/v1/appointment/mobile/{appointmentId}/reschedule':
    patch:
      tags:
        - FHIR
      summary: 'PATCH /fhir/v1/appointment/mobile/{appointmentId}/reschedule'
      operationId: patch_fhir_v1_appointment_mobile_appointmentId_reschedule
      security:
        - BearerAuth: []
      parameters:
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RescheduleRequestBody'
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentEnvelope'
  '/fhir/v1/appointment/mobile/{appointmentId}/cancel':
    patch:
      tags:
        - FHIR
      summary: 'PATCH /fhir/v1/appointment/mobile/{appointmentId}/cancel'
      operationId: patch_fhir_v1_appointment_mobile_appointmentId_cancel
      security:
        - BearerAuth: []
      parameters:
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelBody'
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentEnvelope'
  '/fhir/v1/appointment/mobile/{appointmentId}/checkin':
    patch:
      tags:
        - FHIR
      summary: 'PATCH /fhir/v1/appointment/mobile/{appointmentId}/checkin'
      operationId: patch_fhir_v1_appointment_mobile_appointmentId_checkin
      security:
        - BearerAuth: []
      parameters:
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentEnvelope'
  '/fhir/v1/appointment/mobile/{appointmentId}':
    get:
      tags:
        - FHIR
      summary: 'GET /fhir/v1/appointment/mobile/{appointmentId}'
      operationId: get_fhir_v1_appointment_mobile_appointmentId
      security:
        - BearerAuth: []
      parameters:
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentDataEnvelope'
  /fhir/v1/appointment/pms:
    post:
      tags:
        - FHIR
      summary: POST /fhir/v1/appointment/pms
      operationId: post_fhir_v1_appointment_pms
      security:
        - BearerAuth: []
      parameters:
        - name: createPayment
          in: query
          required: false
          schema:
            type: string
        - name: x-org-id
          in: header
          required: true
          description: 'Organisation the request acts on. Required: this route has no organisation in its path, and the request is rejected with 400 without it.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appointment'
      responses:
        201:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Appointment'
                  message:
                    type: string
  '/fhir/v1/appointment/pms/organisation/{organisationId}':
    get:
      tags:
        - FHIR
      summary: 'GET /fhir/v1/appointment/pms/organisation/{organisationId}'
      operationId: get_fhir_v1_appointment_pms_organisation_organisationId
      security:
        - BearerAuth: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListEnvelope'
  '/fhir/v1/appointment/pms/organisation/{organisationId}/companion/{companionId}':
    get:
      tags:
        - FHIR
      summary: 'GET /fhir/v1/appointment/pms/organisation/{organisationId}/companion/{companionId}'
      operationId: get_fhir_v1_appointment_pms_organisation_organisationId_companion_companionId
      security:
        - BearerAuth: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
        - name: companionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListEnvelope'
  '/fhir/v1/appointment/pms/{organisationId}/{appointmentId}/accept':
    patch:
      tags:
        - FHIR
      summary: 'PATCH /fhir/v1/appointment/pms/{organisationId}/{appointmentId}/accept'
      operationId: patch_fhir_v1_appointment_pms_organisationId_appointmentId_accept
      security:
        - BearerAuth: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                  message:
                    type: string
  '/fhir/v1/appointment/pms/{organisationId}/{appointmentId}/reject':
    patch:
      tags:
        - FHIR
      summary: 'PATCH /fhir/v1/appointment/pms/{organisationId}/{appointmentId}/reject'
      operationId: patch_fhir_v1_appointment_pms_organisationId_appointmentId_reject
      security:
        - BearerAuth: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentEnvelope'
  '/fhir/v1/appointment/pms/{organisationId}/{appointmentId}/cancel':
    patch:
      tags:
        - FHIR
      summary: 'PATCH /fhir/v1/appointment/pms/{organisationId}/{appointmentId}/cancel'
      operationId: patch_fhir_v1_appointment_pms_organisationId_appointmentId_cancel
      security:
        - BearerAuth: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentEnvelope'
  '/fhir/v1/appointment/pms/{organisationId}/{appointmentId}/checkin':
    patch:
      tags:
        - FHIR
      summary: 'PATCH /fhir/v1/appointment/pms/{organisationId}/{appointmentId}/checkin'
      operationId: patch_fhir_v1_appointment_pms_organisationId_appointmentId_checkin
      security:
        - BearerAuth: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentEnvelope'
  '/fhir/v1/appointment/pms/{organisationId}/{appointmentId}':
    patch:
      tags:
        - FHIR
      summary: 'PATCH /fhir/v1/appointment/pms/{organisationId}/{appointmentId}'
      operationId: patch_fhir_v1_appointment_pms_organisationId_appointmentId
      security:
        - BearerAuth: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Appointment'
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
    get:
      tags:
        - FHIR
      summary: 'GET /fhir/v1/appointment/pms/{organisationId}/{appointmentId}'
      operationId: get_fhir_v1_appointment_pms_organisationId_appointmentId
      security:
        - BearerAuth: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentDataEnvelope'
  '/fhir/v1/appointment/pms/{organisationId}/{appointmentId}/forms':
    post:
      tags:
        - FHIR
      summary: 'POST /fhir/v1/appointment/pms/{organisationId}/{appointmentId}/forms'
      operationId: post_fhir_v1_appointment_pms_organisationId_appointmentId_forms
      security:
        - BearerAuth: []
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachFormsBody'
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentEnvelope'
  '/v1/audit-trail/companion/{companionId}':
    get:
      tags:
        - 'Non-FHIR'
      summary: 'GET /v1/audit-trail/companion/{companionId}'
      operationId: get_v1_audit_trail_companion_companionId
      security:
        - BearerAuth: []
      parameters:
        - name: companionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                description: 'Caveat: in the current router, GET and POST /v1/audit-trail/companion both map to AuditTrailController.listForCompanion, and that handler immediately returns 405 {message} when req.method === "GET" - so this 200 is not actually reachable via GET in the code as written today. This schema documents the real body the same handler sends on success (called via POST with patientId in the body): res.status(200).json(results) where results = AuditTrailService.listForOrganisation(...), built by buildCursorResponse from prisma.auditTrail.findMany rows (apps/backend/src/services/audit-trail.service.ts).'
                required:
                  - entries
                  - nextCursor
                properties:
                  entries:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - organisationId
                        - patientId
                        - eventType
                        - occurredAt
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          type: string
                        organisationId:
                          type: string
                        patientId:
                          type: string
                        eventType:
                          type: string
                          description: AuditEventType enum value - one of roughly 180 values covering appointment, invoice, document, form, task, companion-card, vaccination and other clinical/administrative events (packages/database/prisma/schema.prisma); too numerous to enumerate reliably here.
                        actorType:
                          type: string
                          nullable: true
                          enum:
                            - PMS_USER
                            - PARENT
                            - SYSTEM
                        actorId:
                          type: string
                          nullable: true
                        actorName:
                          type: string
                          nullable: true
                        entityType:
                          type: string
                          nullable: true
                          enum:
                            - PATIENT_ORGANISATION
                            - APPOINTMENT
                            - ENCOUNTER
                            - INVOICE
                            - DOCUMENT
                            - FORM
                            - TASK
                            - PARENT
                            - COMPANION
                        entityId:
                          type: string
                          nullable: true
                        metadata:
                          type: object
                          nullable: true
                          additionalProperties: true
                          description: metadata is a Prisma Json column with no fixed shape; its keys vary by eventType.
                        occurredAt:
                          type: string
                          format: date-time
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                  nextCursor:
                    type: string
                    format: date-time
                    nullable: true
                    description: ISO timestamp of the last returned entry's occurredAt, for cursor pagination via the `before` param; null when the page is empty.
  '/v1/audit-trail/appointment/{appointmentId}':
    get:
      tags:
        - 'Non-FHIR'
      summary: 'GET /v1/audit-trail/appointment/{appointmentId}'
      operationId: get_v1_audit_trail_appointment_appointmentId
      security:
        - BearerAuth: []
      parameters:
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: true
          description: 'Organisation the request acts on. Required: this route has no organisation in its path, and the request is rejected with 400 without it.'
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                description: 'Caveat: in the current router, GET and POST /v1/audit-trail/appointment both map to AuditTrailController.listForAppointment, and that handler immediately returns 405 {message} when req.method === "GET" - so this 200 is not actually reachable via GET in the code as written today. This schema documents the real body the same handler sends on success (called via POST with appointmentId in the body): res.status(200).json(results) where results = AuditTrailService.listForAppointment(...), built by buildCursorResponse from prisma.auditTrail.findMany rows (apps/backend/src/services/audit-trail.service.ts). Same entry shape as the companion endpoint; this handler does not accept eventTypes/entityTypes filters.'
                required:
                  - entries
                  - nextCursor
                properties:
                  entries:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - organisationId
                        - patientId
                        - eventType
                        - occurredAt
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          type: string
                        organisationId:
                          type: string
                        patientId:
                          type: string
                        eventType:
                          type: string
                          description: AuditEventType enum value - one of roughly 180 values (packages/database/prisma/schema.prisma); too numerous to enumerate reliably here.
                        actorType:
                          type: string
                          nullable: true
                          enum:
                            - PMS_USER
                            - PARENT
                            - SYSTEM
                        actorId:
                          type: string
                          nullable: true
                        actorName:
                          type: string
                          nullable: true
                        entityType:
                          type: string
                          nullable: true
                          enum:
                            - PATIENT_ORGANISATION
                            - APPOINTMENT
                            - ENCOUNTER
                            - INVOICE
                            - DOCUMENT
                            - FORM
                            - TASK
                            - PARENT
                            - COMPANION
                        entityId:
                          type: string
                          nullable: true
                        metadata:
                          type: object
                          nullable: true
                          additionalProperties: true
                          description: metadata is a Prisma Json column with no fixed shape; its keys vary by eventType (audit rows for appointments are also matched via metadata.appointmentId when entityType isn't APPOINTMENT).
                        occurredAt:
                          type: string
                          format: date-time
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                  nextCursor:
                    type: string
                    format: date-time
                    nullable: true
                    description: ISO timestamp of the last returned entry's occurredAt; null when the page is empty.
  /v1/authUser/signup:
    post:
      tags:
        - 'Non-FHIR'
      summary: POST /v1/authUser/signup
      operationId: post_v1_authUser_signup
      security:
        - BearerAuth: []
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - success
                  - authUser
                  - parentLinked
                  - parent
                properties:
                  success:
                    type: boolean
                  authUser:
                    type: object
                    description: AuthUserMobileService.createOrGetAuthUser result (the AuthUserMobile row).
                    required:
                      - id
                      - authProvider
                      - providerUserId
                      - email
                      - parentId
                      - createdAt
                      - updatedAt
                    properties:
                      id:
                        type: string
                      authProvider:
                        type: string
                        enum:
                          - cognito
                          - firebase
                          - supertokens
                      providerUserId:
                        type: string
                      email:
                        type: string
                      parentId:
                        type: string
                        nullable: true
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                  parentLinked:
                    type: boolean
                    description: true when an existing Parent row was auto-linked by verified email (AuthUserMobileService.autoLinkParentByEmail).
                  parent:
                    type: object
                    nullable: true
                    description: The auto-linked Parent row, or null when no verified-email match was found.
                    required:
                      - id
                      - firstName
                      - lastName
                      - email
                    properties:
                      id:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                        nullable: true
                      email:
                        type: string
  '/fhir/v1/availability/{orgId}/base':
    post:
      tags:
        - FHIR
      summary: 'POST /fhir/v1/availability/{orgId}/base'
      operationId: post_fhir_v1_availability_orgId_base
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                description: AvailabilityController.setAllBaseAvailability -> saveBaseAvailability actually replies res.status(201) (spec documents this under the '200' key, not what the code sends).
                required:
                  - message
                  - data
                properties:
                  message:
                    type: string
                    example: Base availability saved
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - dayOfWeek
                        - slots
                      properties:
                        dayOfWeek:
                          type: string
                          enum:
                            - MONDAY
                            - TUESDAY
                            - WEDNESDAY
                            - THURSDAY
                            - FRIDAY
                            - SATURDAY
                            - SUNDAY
                        slots:
                          type: array
                          items:
                            type: object
                            required:
                              - startTime
                              - endTime
                              - isAvailable
                            properties:
                              startTime:
                                type: string
                                description: HH:mm
                              endTime:
                                type: string
                                description: HH:mm
                              isAvailable:
                                type: boolean
    get:
      tags:
        - FHIR
      summary: 'GET /fhir/v1/availability/{orgId}/base'
      operationId: get_fhir_v1_availability_orgId_base
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - _id
                        - userId
                        - organisationId
                        - dayOfWeek
                        - slots
                        - createdAt
                        - updatedAt
                      properties:
                        _id:
                          type: string
                        userId:
                          type: string
                        organisationId:
                          type: string
                        dayOfWeek:
                          type: string
                          enum:
                            - MONDAY
                            - TUESDAY
                            - WEDNESDAY
                            - THURSDAY
                            - FRIDAY
                            - SATURDAY
                            - SUNDAY
                        slots:
                          type: array
                          items:
                            type: object
                            required:
                              - startTime
                              - endTime
                              - isAvailable
                            properties:
                              startTime:
                                type: string
                                description: HH:mm
                              endTime:
                                type: string
                                description: HH:mm
                              isAvailable:
                                type: boolean
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
    delete:
      tags:
        - FHIR
      summary: 'DELETE /fhir/v1/availability/{orgId}/base'
      operationId: delete_fhir_v1_availability_orgId_base
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: Base availability deleted
  '/fhir/v1/availability/{orgId}/{userId}/base':
    post:
      tags:
        - FHIR
      summary: 'POST /fhir/v1/availability/{orgId}/{userId}/base'
      operationId: post_fhir_v1_availability_orgId_userId_base
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                description: AvailabilityController.setBaseAvailabilityForUser -> saveBaseAvailability actually replies res.status(201) (spec documents this under the '200' key, not what the code sends). Same shape as POST /{orgId}/base.
                required:
                  - message
                  - data
                properties:
                  message:
                    type: string
                    example: Base availability saved
                  data:
                    type: array
                    items:
                      type: object
                      required:
                        - dayOfWeek
                        - slots
                      properties:
                        dayOfWeek:
                          type: string
                          enum:
                            - MONDAY
                            - TUESDAY
                            - WEDNESDAY
                            - THURSDAY
                            - FRIDAY
                            - SATURDAY
                            - SUNDAY
                        slots:
                          type: array
                          items:
                            type: object
                            required:
                              - startTime
                              - endTime
                              - isAvailable
                            properties:
                              startTime:
                                type: string
                                description: HH:mm
                              endTime:
                                type: string
                                description: HH:mm
                              isAvailable:
                                type: boolean
  '/fhir/v1/availability/{orgId}/weekly':
    post:
      tags:
        - FHIR
      summary: 'POST /fhir/v1/availability/{orgId}/weekly'
      operationId: post_fhir_v1_availability_orgId_weekly
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                description: AvailabilityController.addWeeklyAvailabilityOverride actually replies res.status(201) (spec documents this under the '200' key, not what the code sends). Only a message is returned, no data.
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: Weekly override added
    get:
      tags:
        - FHIR
      summary: 'GET /fhir/v1/availability/{orgId}/weekly'
      operationId: get_fhir_v1_availability_orgId_weekly
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    required:
                      - _id
                      - userId
                      - organisationId
                      - weekStartDate
                      - overrides
                      - createdAt
                    properties:
                      _id:
                        type: string
                      userId:
                        type: string
                      organisationId:
                        type: string
                      weekStartDate:
                        type: string
                        format: date-time
                      overrides:
                        type: array
                        items:
                          type: object
                          required:
                            - dayOfWeek
                            - slots
                          properties:
                            dayOfWeek:
                              type: string
                              enum:
                                - MONDAY
                                - TUESDAY
                                - WEDNESDAY
                                - THURSDAY
                                - FRIDAY
                                - SATURDAY
                                - SUNDAY
                            slots:
                              type: array
                              items:
                                type: object
                                required:
                                  - startTime
                                  - endTime
                                  - isAvailable
                                properties:
                                  startTime:
                                    type: string
                                    description: HH:mm
                                  endTime:
                                    type: string
                                    description: HH:mm
                                  isAvailable:
                                    type: boolean
                      createdAt:
                        type: string
                        format: date-time
    delete:
      tags:
        - FHIR
      summary: 'DELETE /fhir/v1/availability/{orgId}/weekly'
      operationId: delete_fhir_v1_availability_orgId_weekly
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: Override deleted
  '/fhir/v1/availability/{orgId}/occupancy':
    post:
      tags:
        - FHIR
      summary: 'POST /fhir/v1/availability/{orgId}/occupancy'
      operationId: post_fhir_v1_availability_orgId_occupancy
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                description: AvailabilityController.addOccupancy actually replies res.status(201) (spec documents this under the '200' key, not what the code sends). Only a message is returned, no data.
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: Occupancy added
    get:
      tags:
        - FHIR
      summary: 'GET /fhir/v1/availability/{orgId}/occupancy'
      operationId: get_fhir_v1_availability_orgId_occupancy
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: Raw Prisma Occupancy row (AvailabilityService.getOccupancy returns prisma.occupancy.findMany results unmapped).
                      required:
                        - id
                        - userId
                        - organisationId
                        - startTime
                        - endTime
                        - sourceType
                        - createdAt
                        - updatedAt
                      properties:
                        id:
                          type: string
                        userId:
                          type: string
                        organisationId:
                          type: string
                        startTime:
                          type: string
                          format: date-time
                        endTime:
                          type: string
                          format: date-time
                        sourceType:
                          type: string
                          enum:
                            - APPOINTMENT
                            - BLOCKED
                            - SURGERY
                        referenceId:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
  '/fhir/v1/availability/{orgId}/occupancy/bulk':
    post:
      tags:
        - FHIR
      summary: 'POST /fhir/v1/availability/{orgId}/occupancy/bulk'
      operationId: post_fhir_v1_availability_orgId_occupancy_bulk
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                description: AvailabilityController.addAllOccupancies actually replies res.status(201) (spec documents this under the '200' key, not what the code sends). Only a message is returned, no data.
                required:
                  - message
                properties:
                  message:
                    type: string
                    example: Occupancies added
  '/fhir/v1/availability/{orgId}/final':
    get:
      tags:
        - FHIR
      summary: 'GET /fhir/v1/availability/{orgId}/final'
      operationId: get_fhir_v1_availability_orgId_final
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: object
                    description: "AvailabilityService.getFinalAvailabilityForDate: one day's slots after merging base availability, any weekly override, and occupancies."
                    required:
                      - date
                      - dayOfWeek
                      - slots
                    properties:
                      date:
                        type: string
                        description: YYYY-MM-DD
                      dayOfWeek:
                        type: string
                        enum:
                          - MONDAY
                          - TUESDAY
                          - WEDNESDAY
                          - THURSDAY
                          - FRIDAY
                          - SATURDAY
                          - SUNDAY
                      slots:
                        type: array
                        items:
                          type: object
                          required:
                            - startTime
                            - endTime
                            - isAvailable
                          properties:
                            startTime:
                              type: string
                              description: HH:mm
                            endTime:
                              type: string
                              description: HH:mm
                            isAvailable:
                              type: boolean
  '/fhir/v1/availability/{orgId}/status':
    get:
      tags:
        - FHIR
      summary: 'GET /fhir/v1/availability/{orgId}/status'
      operationId: get_fhir_v1_availability_orgId_status
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: x-org-id
          in: header
          required: false
          description: Organisation the request acts on. Optional here because the path already carries it; sent otherwise it is ignored in favour of the path.
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  status:
                    type: string
                    description: "AvailabilityService.getCurrentStatus: Consulting when occupied right now, else Available/Unavailable/Off-Duty from today's merged slots."
                    enum:
                      - Consulting
                      - Available
                      - Off-Duty
                      - Unavailable
  /v1/chat/mobile/token:
    post:
      tags:
        - 'Non-FHIR'
      summary: POST /v1/chat/mobile/token
      operationId: post_v1_chat_mobile_token
      security:
        - BearerAuth: []
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
                  - expiresAt
                properties:
                  token:
                    type: string
                    description: Stream Chat user token signed with the server secret (ChatService.generateToken / streamServer.createToken).
                  expiresAt:
                    type: number
                    description: Unix ms timestamp computed as Date.now() + 24h by the server; a client-side refresh hint, not a claim decoded from the token itself.
  '/v1/chat/mobile/appointments/{appointmentId}':
    post:
      tags:
        - 'Non-FHIR'
      summary: 'POST /v1/chat/mobile/appointments/{appointmentId}'
      operationId: post_v1_chat_mobile_appointments_appointmentId
      security:
        - BearerAuth: []
      parameters:
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - _id
                  - id
                  - type
                  - channelId
                  - organisationId
                  - isPrivate
                  - members
                  - supportStaffIds
                  - status
                  - createdAt
                  - updatedAt
                properties:
                  _id:
                    type: string
                    description: Same value as id; a Mongo-shaped alias added by ChatService.toChatSessionDocument for client compatibility.
                  id:
                    type: string
                  type:
                    type: string
                    enum:
                      - APPOINTMENT
                      - ORG_DIRECT
                      - ORG_GROUP
                  appointmentId:
                    type: string
                    nullable: true
                  channelId:
                    type: string
                    description: Stream Chat channel id backing this session, e.g. appointment-<appointmentId>.
                  organisationId:
                    type: string
                  counterpartOrganisationId:
                    type: string
                    nullable: true
                    description: "Set only for cross-clinic sessions: the other clinic's organisation id."
                  patientId:
                    type: string
                    nullable: true
                  parentId:
                    type: string
                    nullable: true
                  vetId:
                    type: string
                    nullable: true
                  supportStaffIds:
                    type: array
                    items:
                      type: string
                  createdBy:
                    type: string
                    nullable: true
                  title:
                    type: string
                    nullable: true
                  isPrivate:
                    type: boolean
                  members:
                    type: array
                    items:
                      type: string
                  participants:
                    type: object
                    additionalProperties: true
                    nullable: true
                    description: Prisma Json column (ChatSession.participants) with no fixed shape; not populated by any traced code path in ChatService.
                  status:
                    type: string
                    enum:
                      - PENDING
                      - ACTIVE
                      - CLOSED
                  allowedFrom:
                    type: string
                    format: date-time
                    nullable: true
                  allowedUntil:
                    type: string
                    format: date-time
                    nullable: true
                  closedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
  '/v1/chat/mobile/sessions/{sessionId}/open':
    post:
      tags:
        - 'Non-FHIR'
      summary: 'POST /v1/chat/mobile/sessions/{sessionId}/open'
      operationId: post_v1_chat_mobile_sessions_sessionId_open
      security:
        - BearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - channelId
                  - token
                  - expiresAt
                properties:
                  channelId:
                    type: string
                    description: Stream Chat channel id for the requested session.
                  token:
                    type: string
                    description: Stream Chat user token for the calling user.
                  expiresAt:
                    type: number
                    description: Unix ms timestamp computed as Date.now() + 24h by ChatService.generateToken; a client-side refresh hint.
  /v1/chat/mobile/sessions:
    get:
      tags:
        - 'Non-FHIR'
      summary: GET /v1/chat/mobile/sessions
      operationId: get_v1_chat_mobile_sessions
      security:
        - BearerAuth: []
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - _id
                    - id
                    - type
                    - channelId
                    - organisationId
                    - isPrivate
                    - members
                    - supportStaffIds
                    - status
                    - createdAt
                    - updatedAt
                  properties:
                    _id:
                      type: string
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                        - APPOINTMENT
                        - ORG_DIRECT
                        - ORG_GROUP
                    appointmentId:
                      type: string
                      nullable: true
                    channelId:
                      type: string
                    organisationId:
                      type: string
                    counterpartOrganisationId:
                      type: string
                      nullable: true
                      description: Set only for cross-clinic sessions.
                    patientId:
                      type: string
                      nullable: true
                    parentId:
                      type: string
                      nullable: true
                    vetId:
                      type: string
                      nullable: true
                    supportStaffIds:
                      type: array
                      items:
                        type: string
                    createdBy:
                      type: string
                      nullable: true
                    title:
                      type: string
                      nullable: true
                    isPrivate:
                      type: boolean
                    members:
                      type: array
                      items:
                        type: string
                    participants:
                      type: object
                      additionalProperties: true
                      nullable: true
                      description: Prisma Json column (ChatSession.participants) with no fixed shape.
                    status:
                      type: string
                      enum:
                        - PENDING
                        - ACTIVE
                        - CLOSED
                    allowedFrom:
                      type: string
                      format: date-time
                      nullable: true
                    allowedUntil:
                      type: string
                      format: date-time
                      nullable: true
                    closedAt:
                      type: string
                      format: date-time
                      nullable: true
                    createdAt:
                      type: string
                      format: date-time
                    updatedAt:
                      type: string
                      format: date-time
                description: ChatController.listMySessions maps each row through toChatSessionResponse; results are ordered updatedAt desc and scoped to sessions where the caller is a member, matching either organisationId or counterpartOrganisationId (the ?includeClosed=true query param includes CLOSED sessions).
  /v1/chat/pms/token:
    post:
      tags:
        - 'Non-FHIR'
      summary: POST /v1/chat/pms/token
      operationId: post_v1_chat_pms_token
      security:
        - BearerAuth: []
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
                  - expiresAt
                properties:
                  token:
                    type: string
                    description: Stream Chat user token signed with the server secret (ChatService.generateToken / streamServer.createToken).
                  expiresAt:
                    type: number
                    description: Unix ms timestamp computed as Date.now() + 24h by the server; a client-side refresh hint.
  '/v1/chat/pms/appointments/{appointmentId}':
    post:
      tags:
        - 'Non-FHIR'
      summary: 'POST /v1/chat/pms/appointments/{appointmentId}'
      operationId: post_v1_chat_pms_appointments_appointmentId
      security:
        - BearerAuth: []
      parameters:
        - name: appointmentId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - _id
                  - id
                  - type
                  - channelId
                  - organisationId
                  - isPrivate
                  - members
                  - supportStaffIds
                  - status
                  - createdAt
                  - updatedAt
                properties:
                  _id:
                    type: string
                    description: Same value as id; Mongo-shaped alias added by ChatService.toChatSessionDocument.
                  id:
                    type: string
                  type:
                    type: string
                    enum:
                      - APPOINTMENT
                      - ORG_DIRECT
                      - ORG_GROUP
                  appointmentId:
                    type: string
                    nullable: true
                  channelId:
                    type: string
                    description: Stream Chat channel id, e.g. appointment-<appointmentId>.
                  organisationId:
                    type: string
                  counterpartOrganisationId:
                    type: string
                    nullable: true
                  patientId:
                    type: string
                    nullable: true
                  parentId:
                    type: string
                    nullable: true
                  vetId:
                    type: string
                    nullable: true
                  supportStaffIds:
                    type: array
                    items:
                      type: string
                  createdBy:
                    type: string
                    nullable: true
                  title:
                    type: string
                    nullable: true
                  isPrivate:
                    type: boolean
                  members:
                    type: array
                    items:
                      type: string
                  participants:
                    type: object
                    additionalProperties: true
                    nullable: true
                    description: Prisma Json column (ChatSession.participants) with no fixed shape.
                  status:
                    type: string
                    enum:
                      - PENDING
                      - ACTIVE
                      - CLOSED
                  allowedFrom:
                    type: string
                    format: date-time
                    nullable: true
                  allowedUntil:
                    type: string
                    format: date-time
                    nullable: true
                  closedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                description: 'Same handler as the mobile route (ChatController.ensureAppointmentSession -> ChatService.ensureAppointmentChat): creates the session on first call, returns the existing one on repeat calls.'
  /v1/chat/pms/org/direct:
    post:
      tags:
        - 'Non-FHIR'
      summary: POST /v1/chat/pms/org/direct
      operationId: post_v1_chat_pms_org_direct
      security:
        - BearerAuth: []
      responses:
        200:
          description: Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - _id
                  - id
                  - type
                  - channelId
                  - organisationId
                  - isPrivate
                  - members
                  - supportStaffIds
                  - status
                  - createdAt
                  - updatedAt
                properties:
                  _id:
                    type: string
                  id:
                    type: string
                  type:
                    type: string
                    enum:
                      - ORG_DIRECT
                  appointmentId:
                    type: string
                    nullable: true
                  channelId:
                    type: string
                    description: Stream Chat channel id, format od_<sha256 hash of orgId+sorted member ids>.
                  organisationId:
                    type: string
                  counterpartOrganisationId:
                    type: string
[...]
