# Authentication Secrets
REFRESH_SECRET="your_refresh_secret_here" # Secret key for refresh tokens
ACCESS_SECRET="your_access_secret_here"  # Secret key for access tokens
JWT_SECRET="your_jwt_secret_here"        # Secret key for JWT
JWT_REFRESH_SECRET="your_jwt_refresh_secret_here" # Secret key for JWT refresh tokens

# Token Expiry
ACCESS_EXPIRY="15m"                      # Access token expiry duration
REFRESH_EXPIRY="7d"                      # Refresh token expiry duration
EXPIRE_IN="15m"                          # General token expiry duration
EXPIRE_IN_REFRESH="7d"                   # Refresh token expiry duration

# Database Configuration
MONGODB_URI="mongodb_uri" # MongoDB connection URI

# Server Configuration
PORT=3000                                # API server port
NODE_ENV="development"                   # Node environment (development/production)
FRONTEND_PORT="http://localhost:5173"    # Frontend application URL

# AWS Configuration
AWS_ACCESS_KEY_ID="your_aws_access_key_id_here"       # AWS access key ID
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key_here" # AWS secret access key
AWS_REGION="your_aws_region_here"                     # AWS region
AWS_S3_BUCKET_NAME="your_aws_s3_bucket_name_here"     # AWS S3 bucket name

# Cognito Configuration
COGNITO_CLIENT_ID="your_cognito_client_id_here"       # Cognito client ID
COGNITO_CLIENT_SECRET="your_cognito_client_secret_here" # Cognito client secret

# Miscellaneous
BASE_URL="http://localhost:3000"                     # Base URL for the API